.idea
/wp-admin
/wp-includes
/wp-snapshots
/.htaccess
/index.php
/license.txt
/readme.html
/web.config
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/cache
/wp-content/uploads
/wp-content/languages
/wp-content/plugins
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
/wp-content/themes/index.php
/wp-content/upgrade
/wp-content/w3tc-config
/wp-content/index.php